nname: Build and Push to ACR

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Azure using OIDC
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Azure Container Registry Login
        uses: azure/docker-login@v1
        with:
          login-server: <yourACRname>.azurecr.io
          username: ${{ secrets.AZURE_ACR_USERNAME }}
          password: ${{ secrets.AZURE_ACR_PASSWORD }}

      - name: Build & Push Image
        run: |
          docker build -t <yourACRname>.azurecr.io/sampleapp:${{ github.run_number }} .
          docker push <yourACRname>.azurecr.io/sampleapp:${{ github.run_number }}
